{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title%}Hirex{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'company/left-sidebar.html' %}
    </div>
    <div class="col-md-9">
        <div class="card">
            <h5 class="card-header">Post Job</h5>
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-success">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <form method="post" action="/company/post-job">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row">
                        <lable class="col-sm-2">{{field.label}}{% if field.field.required%}<span class="text-danger">*</span>{%endif%}</lable>
                        <div class="col-sm-10">
                            {% ifnotequal field.name|stringformat:"s" 'publish' %}
                            {{field|add_class:"form-control"}}
                            {%else%}
                            {{field}}
                            {% endifnotequal %}
                        </div>
                    </div>
                    {% endfor %}
                    <input type="hidden" name="company" value="{{request.session.companyId}}" />
                    <input type="submit" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Editor -->
<script src="{% static 'lib/tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script>
    tinymce.init({
        selector: 'textarea'
    });
</script>
{% endblock %}