{% extends 'base.html' %}
{% load static%}

{% block content %}
<div class="container card">
    <div class="card">
        
        <h4>Bar Graph:</h4>
        <img src="../../media/files/books_read.png" alt=""width=""  height="650">
        <br>
        <h4>---------------------------------------------------------------------------------------------------------------</h4>
        <h4>Piechart:</h4>
        <img src="../../media/files/rank.png" alt="" >
        <br>
        <h4>---------------------------------------------------------------------------------------------------------------</h4>
        <h4>Bar Graph:</h4>
        <img src="../../media/files/rank1.png" alt="">
        <br>
</div>
</div>
{% endblock %}